[submodule "widgets/calendar_week_overview"]
	path = widgets/calendar_week_overview
	url = git@gitlab.com:glancr/mirr-os/widget-calendar_week_overview.git
[submodule "widgets/calendar_upcoming_event"]
	path = widgets/calendar_upcoming_event
	url = git@gitlab.com:glancr/mirr-os/widget-calendar_upcoming_event.git
[submodule "widgets/calendar_event_list"]
	path = widgets/calendar_event_list
	url = git@gitlab.com:glancr/mirr-os/widget-calendar_event_list.git
[submodule "widgets/bing_traffic"]
	path = widgets/bing_traffic
	url = git@gitlab.com:glancr/mirr-os/widget-bing_traffic.git
[submodule "widgets/clock"]
	path = widgets/clock
	url = git@gitlab.com:glancr/mirr-os/widget-clock.git
[submodule "widgets/countdown"]
	path = widgets/countdown
	url = git@gitlab.com:glancr/mirr-os/widget-countdown.git
[submodule "widgets/current_date"]
	path = widgets/current_date
	url = git@gitlab.com:glancr/mirr-os/widget-current_date.git
[submodule "widgets/fuel_prices"]
	path = widgets/fuel_prices
	url = git@gitlab.com:glancr/mirr-os/widget-fuel_prices.git
[submodule "widgets/idioms"]
	path = widgets/idioms
	url = git@gitlab.com:glancr/mirr-os/widget-idioms.git
[submodule "widgets/ip_cam"]
	path = widgets/ip_cam
	url = git@gitlab.com:glancr/mirr-os/widget-ip_cam.git
[submodule "widgets/network"]
	path = widgets/network
	url = git@gitlab.com:glancr/mirr-os/widget-network.git
[submodule "widgets/owm_current_weather"]
	path = widgets/owm_current_weather
	url = git@gitlab.com:glancr/mirr-os/widget-owm_current_weather.git
[submodule "widgets/owm_daily_values"]
	path = widgets/owm_daily_values
	url = git@gitlab.com:glancr/mirr-os/widget-owm_daily_values.git
[submodule "widgets/owm_forecast"]
	path = widgets/owm_forecast
	url = git@gitlab.com:glancr/mirr-os/widget-owm_forecast.git
[submodule "widgets/pictures"]
	path = widgets/pictures
	url = git@gitlab.com:glancr/mirr-os/widget-pictures.git
[submodule "widgets/public_transport_departures"]
	path = widgets/public_transport_departures
	url = git@gitlab.com:glancr/mirr-os/widget-public_transport_departures.git
[submodule "widgets/styling"]
	path = widgets/styling
	url = git@gitlab.com:glancr/mirr-os/widget-styling.git
[submodule "widgets/text_field"]
	path = widgets/text_field
	url = git@gitlab.com:glancr/mirr-os/widget-text_field.git
[submodule "widgets/ticker"]
	path = widgets/ticker
	url = git@gitlab.com:glancr/mirr-os/widget-ticker.git
[submodule "widgets/todos"]
	path = widgets/todos
	url = git@gitlab.com:glancr/mirr-os/widget-todos.git
[submodule "widgets/video_player"]
	path = widgets/video_player
	url = git@gitlab.com:glancr/mirr-os/widget-video_player.git
[submodule "sources/ical"]
	path = sources/ical
	url = git@gitlab.com:glancr/mirr-os/source-ical.git
[submodule "sources/idioms_source"]
	path = sources/idioms_source
	url = git@gitlab.com:glancr/mirr-os/source-idioms_source.git
[submodule "sources/mirros-source-netatmo"]
	path = sources/mirros-source-netatmo
	url = git@gitlab.com:glancr/mirr-os/mirros-source-netatmo.git
[submodule "sources/openweathermap"]
	path = sources/openweathermap
	url = git@gitlab.com:glancr/mirr-os/source-openweathermap.git
[submodule "sources/rss_feeds"]
	path = sources/rss_feeds
	url = git@gitlab.com:glancr/mirr-os/source-rss_feeds.git
[submodule "sources/sbb"]
	path = sources/sbb
	url = git@gitlab.com:glancr/mirr-os/source-sbb.git
[submodule "sources/todoist"]
	path = sources/todoist
	url = git@gitlab.com:glancr/mirr-os/source-todoist.git
[submodule "sources/vbb"]
	path = sources/vbb
	url = git@gitlab.com:glancr/mirr-os/source-vbb.git
[submodule "sources/mirros-source-microsoft_todo"]
	path = sources/mirros-source-microsoft_todo
	url = git@gitlab.com:glancr/mirr-os/mirros-source-microsoft_todo.git
[submodule "widgets/qrcode"]
	path = widgets/qrcode
	url = git@gitlab.com:glancr/mirr-os/widget-qrcode.git
