<h1>Home</h1>

<%= link_to "Components", components_path %><br />
<%= link_to "Sources", sources_path %><br />
<%= link_to "Categories", categories_path %><br />
<%= link_to "Groups", groups_path %><br />
