<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @source_instance.source_id %>
</p>

<%= link_to 'Edit', edit_source_instance_path(@source_instance) %> |
<%= link_to 'Back', source_instances_path %>
