<!DOCTYPE html>
<html>
<head>
  <title>Netatmo</title>
  <%= stylesheet_link_tag    "netatmo/application", media: "all" %>
  <%= javascript_include_tag "netatmo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
