<p id="notice"><%= notice %></p>

<p>
  <strong>Component:</strong>
  <%= @component_instance.component %>
</p>

<%= link_to 'Edit', edit_component_instance_path(@component_instance) %> |
<%= link_to 'Back', component_instances_path %>
